In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./final_review.xlsx')

In [3]:
df.head()

,"튼튼닷컴 밀크씨슬 [6개월분], 1000mg, 1개, 180캡슐 26,900원","지앤씨 밀크시슬, 60정, 1개","종근당건강 헬씨칸 밀크씨슬 영양제, 30정, 2개 23,270원","보뚜 간에좋은 밀크씨슬 프리미엄, 150정, 1개 29,900","Now Foods 실리마린 밀크 시슬 추출물 300mg 베지 캡슐, 1개",뉴트리데이 프리미엄,"GNM자연의품격 건강한 간 밀크씨슬, 132정, 1개","GNM자연의품격 건강한 간 밀크씨슬, 30정, 6개","Swanson 밀크 시슬 500mg 캡슐, 100개입, 1개","한미헬스케어 간에 좋은 밀크씨슬 골드, 90정, 2개"
0,리베카,겨울온기,서*아,홍*환,쿸쿸쿸,실천의힘,UNIUNI,칠치링,배*웅,리뷰홀릭
1,제주남,하*희,집노예도비,다없대,전천도,엄*주,또또뿌니율,또또뿌니율,이*범,웅장해진다
2,나비아씨,솔직냥집사,또또뿌니율,esmooom,오*진,웅장해진다,이이이삼,오*근,웅장해진다,김*래
3,박*하,윤*우,좋은날들,노란잠수함,까페타임,지앤지앤,박*숙,혼밥녀,까페타임,한보리
4,유*한,이*인,좋은날들,듀륏cherry,박*대,보석마미,이*영,혼밥녀,웅컁키쿄쿡,이*현

In [4]:
df.columns

Index(['튼튼닷컴 밀크씨슬 [6개월분], 1000mg, 1개, 180캡슐 26,900원', '지앤씨 밀크시슬, 60정, 1개 ',
       '종근당건강 헬씨칸 밀크씨슬 영양제, 30정, 2개 23,270원',
       '보뚜 간에좋은 밀크씨슬 프리미엄, 150정, 1개 29,900',
       'Now Foods 실리마린 밀크 시슬 추출물 300mg 베지 캡슐, 1개', '뉴트리데이 프리미엄',
       'GNM자연의품격 건강한 간 밀크씨슬, 132정, 1개', 'GNM자연의품격 건강한 간 밀크씨슬, 30정, 6개',
       'Swanson 밀크 시슬 500mg 캡슐, 100개입, 1개', '한미헬스케어 간에 좋은 밀크씨슬 골드, 90정, 2개'],
      dtype='object')

In [5]:
len(df.columns)

10

In [6]:
name_label = df.columns

In [7]:
type(name_label)

pandas.core.indexes.base.Index

In [8]:
name_label=list(name_label)

In [9]:
type(name_label)

list

In [10]:
name_label = pd.Series(name_label)

In [11]:
type(name_label)

pandas.core.series.Series

In [12]:
name_label.index = range(10)

In [13]:
name_label

0    튼튼닷컴 밀크씨슬 [6개월분], 1000mg, 1개, 180캡슐 26,900원
1                             지앤씨 밀크시슬, 60정, 1개
2            종근당건강 헬씨칸 밀크씨슬 영양제, 30정, 2개 23,270원
3             보뚜 간에좋은 밀크씨슬 프리미엄, 150정, 1개 29,900
4       Now Foods 실리마린 밀크 시슬 추출물 300mg 베지 캡슐, 1개
5                                     뉴트리데이 프리미엄
6                  GNM자연의품격 건강한 간 밀크씨슬, 132정, 1개
7                   GNM자연의품격 건강한 간 밀크씨슬, 30정, 6개
8              Swanson 밀크 시슬 500mg 캡슐, 100개입, 1개
9                  한미헬스케어 간에 좋은 밀크씨슬 골드, 90정, 2개
dtype: object

In [14]:
df

,"튼튼닷컴 밀크씨슬 [6개월분], 1000mg, 1개, 180캡슐 26,900원","지앤씨 밀크시슬, 60정, 1개","종근당건강 헬씨칸 밀크씨슬 영양제, 30정, 2개 23,270원","보뚜 간에좋은 밀크씨슬 프리미엄, 150정, 1개 29,900","Now Foods 실리마린 밀크 시슬 추출물 300mg 베지 캡슐, 1개",뉴트리데이 프리미엄,"GNM자연의품격 건강한 간 밀크씨슬, 132정, 1개","GNM자연의품격 건강한 간 밀크씨슬, 30정, 6개","Swanson 밀크 시슬 500mg 캡슐, 100개입, 1개","한미헬스케어 간에 좋은 밀크씨슬 골드, 90정, 2개"
0,리베카,겨울온기,서*아,홍*환,쿸쿸쿸,실천의힘,UNIUNI,칠치링,배*웅,리뷰홀릭
1,제주남,하*희,집노예도비,다없대,전천도,엄*주,또또뿌니율,또또뿌니율,이*범,웅장해진다
2,나비아씨,솔직냥집사,또또뿌니율,esmooom,오*진,웅장해진다,이이이삼,오*근,웅장해진다,김*래
3,박*하,윤*우,좋은날들,노란잠수함,까페타임,지앤지앤,박*숙,혼밥녀,까페타임,한보리
4,유*한,이*인,좋은날들,듀륏cherry,박*대,보석마미,이*영,혼밥녀,웅컁키쿄쿡,이*현
...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,최*람,최*호,김*애,jj7577,NaN,권*경,최*한,정*희
996,NaN,NaN,듀듐칫,한*섭,김*목,박*근,NaN,박*승,김*태,이*순
997,NaN,NaN,Yoonimom,오*준,황*원,정*공,NaN,배미자,최*우,김*영
998,NaN,NaN,송*진,유*근,심*준,신*철,NaN,정*미,김*숙,정*영
999,NaN,NaN,송*자,진*현,이*주,산골다래,NaN,박*혁,김*주,오*균

In [15]:
a_list = []
for i in range(10):
    a_list.append('code'+str(i))

In [16]:
a_list

['code0',
 'code1',
 'code2',
 'code3',
 'code4',
 'code5',
 'code6',
 'code7',
 'code8',
 'code9']

In [17]:
name_label.index = a_list

In [18]:
name_label

code0    튼튼닷컴 밀크씨슬 [6개월분], 1000mg, 1개, 180캡슐 26,900원
code1                             지앤씨 밀크시슬, 60정, 1개
code2            종근당건강 헬씨칸 밀크씨슬 영양제, 30정, 2개 23,270원
code3             보뚜 간에좋은 밀크씨슬 프리미엄, 150정, 1개 29,900
code4       Now Foods 실리마린 밀크 시슬 추출물 300mg 베지 캡슐, 1개
code5                                     뉴트리데이 프리미엄
code6                  GNM자연의품격 건강한 간 밀크씨슬, 132정, 1개
code7                   GNM자연의품격 건강한 간 밀크씨슬, 30정, 6개
code8              Swanson 밀크 시슬 500mg 캡슐, 100개입, 1개
code9                  한미헬스케어 간에 좋은 밀크씨슬 골드, 90정, 2개
dtype: object

In [19]:
df.columns = a_list

In [20]:
df

,code0,code1,code2,code3,code4,code5,code6,code7,code8,code9
0,리베카,겨울온기,서*아,홍*환,쿸쿸쿸,실천의힘,UNIUNI,칠치링,배*웅,리뷰홀릭
1,제주남,하*희,집노예도비,다없대,전천도,엄*주,또또뿌니율,또또뿌니율,이*범,웅장해진다
2,나비아씨,솔직냥집사,또또뿌니율,esmooom,오*진,웅장해진다,이이이삼,오*근,웅장해진다,김*래
3,박*하,윤*우,좋은날들,노란잠수함,까페타임,지앤지앤,박*숙,혼밥녀,까페타임,한보리
4,유*한,이*인,좋은날들,듀륏cherry,박*대,보석마미,이*영,혼밥녀,웅컁키쿄쿡,이*현
...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,최*람,최*호,김*애,jj7577,NaN,권*경,최*한,정*희
996,NaN,NaN,듀듐칫,한*섭,김*목,박*근,NaN,박*승,김*태,이*순
997,NaN,NaN,Yoonimom,오*준,황*원,정*공,NaN,배미자,최*우,김*영
998,NaN,NaN,송*진,유*근,심*준,신*철,NaN,정*미,김*숙,정*영
999,NaN,NaN,송*자,진*현,이*주,산골다래,NaN,박*혁,김*주,오*균

In [21]:
name_label.code0

'튼튼닷컴 밀크씨슬 [6개월분], 1000mg, 1개, 180캡슐 26,900원'

In [22]:
code0_user =  df.code0

In [23]:
code0_user

0       리베카
1       제주남
2      나비아씨
3       박*하
4       유*한
       ...
995      NaN
996      NaN
997      NaN
998      NaN
999      NaN
Name: code0, Length: 1000, dtype: object

In [24]:
code0_user.head()

0     리베카
1     제주남
2    나비아씨
3     박*하
4     유*한
Name: code0, dtype: object

In [25]:
df['code0']

0       리베카
1       제주남
2      나비아씨
3       박*하
4       유*한
       ...
995      NaN
996      NaN
997      NaN
998      NaN
999      NaN
Name: code0, Length: 1000, dtype: object

In [33]:
# 사람리스트 만들기
name_list = []
for cname in df.columns:
    name_list.append(df[cname])

In [48]:
import numpy as np

In [49]:
name_list = np.array(name_list)

In [50]:
name_list.shape

(10, 1000)

In [51]:
name_list= name_list.flatten()

In [54]:
name_list.shape

(10000,)

In [57]:
name_list[:10]

array(['리베카 ', '제주남 ', '나비아씨 ', '박*하 ', '유*한 ', '정*혜 ', '꼴통2018 ', '박*하 ',
       '한*동 ', '김*성 '], dtype=object)

In [62]:
name_list = np.array( list(set(name_list)))   # 사람이름 중복 제거

In [63]:
name_list.shape         #사람이름의 수 확인

(3713,)

In [64]:
name_list[:10]

array(['강*진 ', '에스로체 ', '박*재 ', '흥부형 ', '알뜰맘 ', 'c*u ', 'Ych짱이 ', '권*엽 ',
       '전*선 ', '전*희 '], dtype='<U21')

In [67]:
data = np.zeros((3713,10))

In [69]:
df2 = pd.DataFrame(data)

In [71]:
df2.index = name_list

In [72]:
df2.columns = a_list

In [73]:
df2

        code0  code1  code2  code3  code4  code5  code6  code7  code8  code9
강*진       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
에스로체      0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
박*재       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
흥부형       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
알뜰맘       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
50대남자     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
차*연       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
권*형       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
차차여름      0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
조*민       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

[3713 rows x 10 columns]

In [77]:
df

,code0,code1,code2,code3,code4,code5,code6,code7,code8,code9
0,리베카,겨울온기,서*아,홍*환,쿸쿸쿸,실천의힘,UNIUNI,칠치링,배*웅,리뷰홀릭
1,제주남,하*희,집노예도비,다없대,전천도,엄*주,또또뿌니율,또또뿌니율,이*범,웅장해진다
2,나비아씨,솔직냥집사,또또뿌니율,esmooom,오*진,웅장해진다,이이이삼,오*근,웅장해진다,김*래
3,박*하,윤*우,좋은날들,노란잠수함,까페타임,지앤지앤,박*숙,혼밥녀,까페타임,한보리
4,유*한,이*인,좋은날들,듀륏cherry,박*대,보석마미,이*영,혼밥녀,웅컁키쿄쿡,이*현
...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,최*람,최*호,김*애,jj7577,NaN,권*경,최*한,정*희
996,NaN,NaN,듀듐칫,한*섭,김*목,박*근,NaN,박*승,김*태,이*순
997,NaN,NaN,Yoonimom,오*준,황*원,정*공,NaN,배미자,최*우,김*영
998,NaN,NaN,송*진,유*근,심*준,신*철,NaN,정*미,김*숙,정*영
999,NaN,NaN,송*자,진*현,이*주,산골다래,NaN,박*혁,김*주,오*균

In [101]:
# 사용자명을 매개변수로 전달받아 구입한 상품명들을 리스트로 반환하는 함수 정의
def getBuy(username):
    buy_list = []
    for col in df.columns:
        if username in str(df[col]):
            buy_list.append(col)
    return list(set(buy_list))

In [102]:
test = getBuy('최*한')

In [103]:
test

['code8']

In [104]:
# df2 데이터 프레임
# index 고객명
# colum 상품명
# 구입여부 0,1로 설정

In [105]:
df2

        code0  code1  code2  code3  code4  code5  code6  code7  code8  code9
강*진       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
에스로체      0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
박*재       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
흥부형       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
알뜰맘       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
50대남자     0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
차*연       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
권*형       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
차차여름      0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
조*민       0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

[3713 rows x 10 columns]